# Ignore configuration folder
configuration/

# Ignore test files
test_*.py
*_test.py
test.py
tests/

# Ignore .venv folder
.venv/

# Ignore pycharm folder
.idea/

# Ignore __pycache__ folder
__pycache__/
